.layout {
    width: 660px;
    margin: auto;
}

.header {
    padding: 30px 0 10px 20px;
}

.body {
    height: 600px;
    line-height: 600px;
    text-align: center;
}

.header .logo {
    margin-right: 90px;
}

.share {
    float: left;
    padding-left: 10px;
}

.share a {
    border-bottom: none;
}

#fb_share.share {
    margin-top: 1px;
}

.popup-overlay {
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: #000000;
    
    opacity: 0.75;
    filter: alpha(opacity=75);
}

.popup {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    text-align: center;
}

.popup-content {
    zoom:1;

    //display:inline;
    display:-moz-inline-box;
    display:inline-block;
    vertical-align:middle;

    text-align: left;
}

.login-dialog {
    background: white;

    width: 300px;
    height: 150px;

    text-align: center;
}

.login-dialog a {
    text-decoration: none;
}

.login-dialog div {
    padding-top: 10px;
}

.cake-dialog {
    background: white;

    width: 350px;
    height: 400px;

    text-align: center;
}

.cake-dialog h2 {
    color: #750000;
    font-style: italic;
    font-size: 24px;
    font-family: Georgia;
    font-weight: bold;
    padding: 20px;
}