html,
body {
    height: 100%;
}

.hidden {
    display: none;
}

.floats-wrapper {
    zoom: 1;
}

.floats-wrapper:before,
.floats-wrapper:after {
    content: "";
    display: table;
}

.floats-wrapper:after {
    clear: both;
}

.align-helper {
    zoom:1;

    //display:inline;
    display:-moz-inline-box;
    display:inline-block;
    vertical-align:middle;

    height:100%;
    width:0;
}

a.common {
    text-decoration: none;
    color: #0066cc;
    border-bottom: 1px dashed #0066CC
}

a.common:hover {
    border-bottom: none;
}