<div class="page-header">
    <h1 class="page-header-title">
        <img class="j-navigation-link page-header-logo"
             src="/img/logo.png" alt="Фото на торте!"
             data-href="title"/>

        <small class="page-header-subtitle">
            Дизайнерские сладости к <br />
            Любому празднику!
        </small>
    </h1>

    {{^bakery_network}}
        <div class="page-header-info-block"
             data-name="current-city"
             data-template-id="current_city_template">

            <div class="page-header-quality-block">
                <h3>Гаратния качества профессиональной кондитерской!</h3>
            </div>
            <div class="page-header-delivery-block">
                <h3>
                    Город:

                    <a class="t-bakery-city j-popup-button"
                       data-name="city-popup"
                       data-popup-id="city_popup">...</a>

                    <sup class="t-bakery-is-native">*</sup>
                </h3>
            </div>
        </div>
    {{/bakery_network}}

    {{^network}}
        <div class="share-block">
            <div class="j-yandex-share ya-share"></div>
            <div class="share-block-text"> +7 (812) 323-52-18 </div>
        </div>
    {{/network}}

</div>

<div id="title_step" class="j-navigation-page j-control-container row-fluid step active"
     data-name="title">
    {{> template/steps/title }}
</div>

<div id="designer_step"
     class="j-navigation-page j-control-container row-fluid step"
     data-name="designer">

    {{> template/steps/designer }}
</div>

<div id="share_step"
     class="j-button-group j-navigation-page j-control-container step row-fluid"
     data-name="share">

    {{> template/steps/share }}
</div>

<div id="order_step"
     class="j-navigation-page j-control-container row-fluid step"
     data-name="order">

    {{> template/steps/order }}
</div>

<div id="result_step"
     class="j-navigation-page j-control-container step row-fluid span12"
     data-name="result">

    {{> template/steps/result }}
</div>

{{^bakery}}
    <div id="city_popup" class="j-autocomplete hide"
         data-name="city-popup"
         data-template-id="city_autocomplete_template">

        <div class="modal-backdrop"></div>
        <div class="modal">
            <div class="modal-header">
                <h3>Где вам нужен торт?</h3>
            </div>
            <div class="modal-body">

                <div class="input clearfix">
                    <div class="input-append ">
                        <input id="city_search" type="text"
                               class="j-filtration" />

                        <label for="city_search" class="add-on btn">v</label>
                    </div>
                </div>

                <ul class="j-autocomplete-body t-city-list unstyled hide"></ul>

                <div class="help-block">
                    * - если в списке нету вашего города, значит мы
                    не можем доставить туда тортик.
                </div>

            </div>
            <div class="modal-footer">
                <a class="j-popup-close btn">Отмена</a>
                <a class="j-popup-apply btn primary">OK</a>
            </div>
        </div>
    </div>

    <div class="j-control-container hide">
        <tuna:template id="city_autocomplete_template">
            <tuna:list tuna:target="t-city-list" tuna:path=""
                       tuna:item-renderer-id="city_item_renderer"
                       tuna:item-template-id="city_item_template"
                       tuna:key-path="$key" />
        </tuna:template>

        <tuna:template id="city_item_template">
            <tuna:spot tuna:target="t-name" tuna:path="name" />
        </tuna:template>
    </div>
{{/bakery}}