<div class="j-navigation container-fluid">

    {{#network}}
        <div id="app_container">
    {{/network}}

    {{^network}}
        <div id="site_container">
    {{/network}}

        <div class="page-header">
            <h1 class="page-header-title">
                <img class="j-navigation-link page-header-logo"
                     src="/img/logo.png" alt="Фото на торте!"
                     data-href="title_step"/>

                <small class="page-header-subtitle">
                    Дизайнерские сладости к <br />
                    Любому празднику!
                </small>
            </h1>


            {{^network}}

                <div class="page-header-info-block">
                    <div class="page-header-quality-block">
                        <h3>Гаратния качества профессиональной кондитерской!</h3>
                    </div>
                    <div class="page-header-delivery-block">
                        <h3>Бесплатная доставка, при заказе до 4 марта!</h3>
                    </div>
                </div>

                <div class="share-block">
                    <div class="j-yandex-share ya-share"></div>
                    <div class="share-block-text"> +7 (812) 323-52-18 </div>
                </div>
            {{/network}}

        </div>

        {{> template/steps/title    }}
        {{> template/steps/designer }}
        {{> template/steps/share    }}
        {{> template/steps/recipe   }}
        {{> template/steps/order    }}
        {{> template/steps/result   }}

    </div>
</div>

