<!DOCTYPE html>
<html xmlns:tuna>
    <head>
        <meta http-equiv="Content-Type" content="Type=text/html; charset=utf-8">

        <title>Фото на торте</title>

        <link rel="stylesheet" type="text/css" href="/css/jquery/jquery.ui.core.css" />
        <link rel="stylesheet" type="text/css" href="/css/jquery/jquery.ui.datepicker.css" />
        <link rel="stylesheet" type="text/css" href="/css/jquery/jquery.ui.theme.css" />

        <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />

        <link rel="stylesheet" type="text/css" href="/css/typography.css" />
        <link rel="stylesheet" type="text/css" href="/css/layout.css" />

        <link rel="stylesheet" type="text/css" href="/css/head.css" />
        <link rel="stylesheet" type="text/css" href="/css/share.css" />

        <link rel="stylesheet" type="text/css" href="/css/title-step.css" />

        <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    </head>
    <body>

        {{> template/body }}
        {{> template/support }}
        {{> template/scripts }}
        {{> template/counters/ya }}
        {{> template/counters/li }}

    </body>
</html>