<!DOCTYPE html>
<html xmlns:tuna>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <title>Фото на торте</title>

        <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    </head>
    <body>

        {{> template/body }}
        {{> template/support }}

        <div class="hide">
            {{> template/templates   }}
        </div>

        {{> template/scripts }}

        {{> template/counters/ya }}
        {{> template/counters/li }}

    </body>
</html>