<script type="text/javascript" src="/js/swfobject.js"></script>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui.min.js"></script>

<!--[if IE]>-->
    <script type="text/javascript" src="/js/json.js"></script>
<!--<![endif]-->

{{#network}}
    {{#vk_network}} {{> template/scripts/vk }} {{/vk_network}}
    {{#ok_network}} {{> template/scripts/ok }} {{/ok_network}}
{{/network}}

{{^network}}
    <script type="text/javascript" src="/js/app.min.js"></script>
    <script type="text/javascript">main();</script>
{{/network}}
