
<script type="text/javascript"
        src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>

<script type="text/javascript"
        src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

<script type="text/javascript" src="/js/jquery-ui.js"></script>

<!--[if IE]>-->
    <script type="text/javascript" src="/js/json.js"></script>
<!--<![endif]-->

{{#network}}
    {{#vk_network}} {{> template/scripts/vk }} {{/vk_network}}
    {{#ok_network}} {{> template/scripts/ok }} {{/ok_network}}
{{/network}}

{{^network}}
    <script type="text/javascript" src="/js/app.min.js"></script>
    <script type="text/javascript">main();</script>
{{/network}}
