<!-- Common -->

<tuna:template id="cake_template">
    <tuna:attr tuna:target="t-cake-image" tuna:path="imageUrl" tuna:name="src"/>
    <tuna:attr tuna:target="t-cake-id" tuna:path="id" tuna:name="data-cake-id"/>

    <tuna:spot tuna:target="t-cake-weight" tuna:path="weight" />
    <tuna:spot tuna:target="t-cake-persons" tuna:path="personsCount" />
</tuna:template>

<tuna:template id="price_template">
    <tuna:spot tuna:target="t-total-price"    tuna:path="totalPrice" />
    <tuna:spot tuna:target="t-deco-price"     tuna:path="decoPrice" />
    <tuna:spot tuna:target="t-recipe-price"   tuna:path="recipePrice" />
    <tuna:spot tuna:target="t-delivery-price" tuna:path="deliveryPrice" />
</tuna:template>

<tuna:template id="recipe_template">
    <tuna:attr tuna:target="t-recipe-img" tuna:path="imageUrl" tuna:name="src"/>
    <tuna:attr tuna:target="t-recipe-img" tuna:path="name" tuna:name="alt"/>

    <tuna:attr tuna:target="t-recipe-id" tuna:path="id" tuna:name="data-recipe-id" />
    <tuna:attr tuna:target="t-recipe-input" tuna:path="id" tuna:name="value" />

    <tuna:spot tuna:target="t-recipe-name" tuna:path="name" />
    <tuna:spot tuna:target="t-recipe-desc" tuna:path="desc" />
</tuna:template>


<!-- Title -->

<tuna:template id="cake_list_template">

    <tuna:list tuna:target="t-cake-list" tuna:path=""
               tuna:item-renderer-id="cake_list_item_renderer"
               tuna:item-template-id="cake_template"
               tuna:key-path="$key" />

</tuna:template>

<ul>
    <li id="cake_list_item_renderer" >
        <div class="thumbnail">
            <div class="cake-image-box">
                <img class="t-cake-image" src
                     alt="Тортик" width="110" height="110" />
            </div>

            <div class="cake-info">
                <span class="t-cake-weight"></span> кг.
                    <span class="t-cake-id j-button
                                 btn small pull-right primary"
                          data-href="order_step"
                          data-action="buy"
                          data-cake-id="">
                        Хочу!
                    </span>
            </div>
        </div>
    </li>
</ul>

<!-- Recipes -->

<tuna:template id="recipe_list_template">
    <tuna:list tuna:target="t-recipes-list" tuna:path=""
               tuna:item-renderer-id="recipe_list_item_renderer"
               tuna:item-template-id="recipe_template"
               tuna:key-path="$key" />
</tuna:template>

<tuna:template id="city_autocomplete_template">
    <tuna:list tuna:target="t-city-list" tuna:path=""
               tuna:item-renderer-id="city_item_renderer"
               tuna:item-template-id="city_item_template"
               tuna:key-path="$key" />
</tuna:template>

<tuna:template id="city_item_template">
    <tuna:spot tuna:target="t-name" tuna:path="city" />
</tuna:template>


<select>
    <option id="option_renderer" class="t-option"></option>
</select>

<ul>
    <li id="recipe_list_item_renderer">
        <div class="recipe-tile thumbnail">
            <img alt="Рецепт" width="90" height="90"
                 class="j-button j-recipe-image
                        t-recipe-img t-recipe-id"
                 data-action="show-recipe" />

            <label class="recipe-label">
                <input type="radio" name="recipe_id"
                       class="t-recipe-id t-recipe-input j-button"
                       data-action="select-recipe" />

                <span class="t-recipe-name"></span>
            </label>
        </div>
    </li>

    <li id="city_item_renderer" class="j-autocomplete-item">
        <a class="t-name" href="#"></a>
    </li>
</ul>

<!-- Order -->

<tuna:template id="order_template">
    <tuna:attr tuna:name="value" tuna:target="t-order-id"
               tuna:path="id" />

    <tuna:attr tuna:name="value" tuna:target="t-user-name"
               tuna:path="user/name" />

    <tuna:attr tuna:name="value" tuna:target="t-user-id"
               tuna:path="user/id" />

    <tuna:attr tuna:name="value" tuna:target="t-user-network"
               tuna:path="user/network" />

</tuna:template>

{{#vk_network}}

    <!-- Share -->

    <tuna:template id="friends_autocomplete_template">
        <tuna:list tuna:target="t-friend-list" tuna:path=""
                   tuna:item-renderer-id="friend_item_renderer"
                   tuna:item-template-id="friend_item_template"
                   tuna:key-path="$key" />
    </tuna:template>

    <tuna:template id="friend_item_template">
        <tuna:spot tuna:target="t-user-name" tuna:path="name" />
        <tuna:attr tuna:target="t-userpic" tuna:name="src"
                   tuna:path="userpicUrl" />

        <tuna:attr tuna:target="t-user-id" tuna:name="data-user-id"
                   tuna:path="id" />
    </tuna:template>

    <ul>
        <li id="friend_item_renderer">
            <img class="t-userpic userpic" alt="Друг" width="50" height="50"/>

            <span class="t-user-name"></span>

            <a href="#" class="t-user-id j-button send-cake-button pull-right"
               data-action="send">
                Отправить
            </a>
        </li>
    </ul>

{{/vk_network}}