<div class="intro">
    <h2 class="intro-title">For any occasion – best cake!</h2>

    <p>Congratulate your favorite people by original way!
        Be creative and do a special design of your own cake with the cake-constructor: select the shape,
        size, add pictures and inscriptions, decorate as you like it. Be the best pastry chef in history, show off
        your work!</p>

    <p>
        <a class="j-popup-button"
           data-popup-id="delivery_info_popup">
            Delivery and Payment
        </a>
    </p>

    <p>
        Orders can be accepted by phone <b class="t-bakery-phone">8 (812) 323-52-18</b>
        and by email <b  class="t-bakery-email">fotonatorte@gmail.com</b>!
    </p>

    <p style="text-align: center; width: 100%; padding-top: 20px">
        <a class="j-navigation-link btn primary large"
           data-href="designer">
            Let’s start &raquo;
        </a>
    </p>

</div>

<div id="delivery_info_popup" class="hide">
    <div class="modal-backdrop"></div>
    <div class="modal">
        <div class="modal-header">
            <h3>Условия оплаты и доставки.<span class="j-popup-close close">&times;</span></h3>
        </div>
        <div class="modal-body modal-content">

            <p>Торт, который Вы заказываете, исполняется по Вашему уникальному
                дизайну, и предназначен только Вам.  Мы сделаем все возможное,
                чтобы выполнить Ваши пожелания по его внешнему оформлению.</p>

            <p><em>Оплата.</em> Торт можно оплатить прямо из Приложения с
                помощью: банковской карты, электронных денег (без комиссии),
                платеж через телефон (мобильная коммерция): операторы связи
                взимают комиссию: МТС - 13%, Мегафон - 13% и Билайн - 12%,
                или платежные терминалы (уточняйте размер комиссии у оператора).</p>

            <p>Возможен и наличный платеж при получении Торта (будьте готовы,
                что если Вы сконструировали торт стоимостью больше 2 000 рублей,
                мы попросим внести предоплату, способы ее внесения Вам предложат,
                когда наш менеджер будет звонить Вам, чтобы уточнить детали Вашего Заказа).</p>

            <p><em>Доставка.</em> Вы всегда сможете выбрать: доставка или самовывоз.
                Стоимость доставки в Вашем городе всегда указана в форме заказа. Стоимость
                доставки может возрасти, если место доставки находится на значительном
                удалении от места производства, например, за городом;  доставка осуществляется
                в необычное время – например, ночное, или, например, в предновогодние дни.
                В любом случае, Вы будете предупреждены об этом заранее.</p>

            <p>Доставку можно оплатить отдельно курьеру, при получении торта
                (тогда в комментариях следует указать: "Доставка по такому-то адресу, доставку оплатим на месте".</p>

        </div>
        <div class="modal-footer">
            <a class="j-popup-close btn">Закрыть</a>
        </div>
    </div>
</div>