.hidden {
    display: none;
}

.align-center {
    text-align: center;
}

.btn {
    &.primary {
        .gradientBar(@red, #750000);

        &.large {
            padding: 3px 12px 3px;
            font-size: 24px;
        }
    }
}

.step {
    display: none;

    &.current {
        display: block;
    }
}

.popup {
    display: none;

    .overlay {
        position: fixed;

        left: 0;
        top: 0;
        right: 0;
        bottom: 0;

        background: @black;

        .opacity(50);
    }
}