/**
 * Header
 */

.page-header {
    background: #eeeeee;
    height: 120px;
    border: 0;
}

.main-title {
    padding: 20px 0 0 30px;
}

.main-logo {
   display: block;
}

.main-subtitle {
    display: block;
    margin: 0 0 0 20px;
    
    font: inherit;
}

/**
 * Wizard
 */

.step {
    display: none;

    .square(100%);

    &.current {
        display: inherit;
    }
}

/**
 * Cake designer
 */

.cake-designer-swf {
    .square(100%);
}