<script type="text/javascript">

document.write(
    "<a class='hide' href='http://www.liveinternet.ru/click' target=_blank>" +
         "<img alt='' title='LiveInternet' border='0' width='31' height='31' src='//counter.yadro.ru/hit?t44.1;r" +

            encodeURIComponent(document.referrer) +
            (( window.screen === undefined ? "" : ";s" + screen.width + "*" +
                    screen.height + "*" +
                    ( screen.colorDepth ? screen.colorDepth :
                            screen.pixelDepth )) +
                    ";u" + encodeURIComponent(document.URL) + ";" + Math.random()) + "'>" +
    "</a>"
);

</script>