hr {
    border: 0;
}

.container {
    width: 820px;
}

.inline-align (@height) {
    line-height: @height;
    text-align: center;
}

.hidden {
    display: none;
}

.align-center {
    text-align: center;
}



.ico-super {
    color: @header-color;
    font-style: italic;
    vertical-align: super;
}
