.page-header {
    margin-top: 0;

    height: 100px;

    background: #EEE;
}

.page-header-title {
    padding: 20px 0 0 30px;

    float: left;
}

.page-header-logo {
    display: block;
}

.page-header-subtitle {
    display: block;

    margin: 0 0 0 20px;

    color: #750000;
    font-weight: normal;
    font-style: italic;
    font-size: medium;
}

.page-header-info-block {
    width: 360px;
    float: left;

    margin-left: 60px;
    margin-top: 30px;
}

.page-header-info-block h3 {
    line-height: normal;

    color: #750000;

    font-weight: normal;
    font-style: italic;
    font-size: medium;
}

.page-header-quality-block {
    width: 160px;
    float: left;
}

.page-header-delivery-block {
    width: 160px;
    float: right;
}

.page-header-delivery-block h3 {
    line-height: 57px;
    vertical-align: middle;
}