/* Global */

body {
    font-family: "Times New Roman", Times, serif;
}

.container-fluid {
    padding: 0;
    height: 900px;
}

.alert {
    padding-right: 14px;
}

.alert img {
    float: left;
    margin-right: 7px;
}

.alert-info {
    color: #000;
    background-color: #FFF;
    border-color: #CCC;
}

.alert h3 {
    margin-bottom: 2px;
    padding-bottom: 0;
}

.btn.primary {
    color: #FFF;
    background-color: #750000;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#9d261d), to(#750000));
    background-image: -moz-linear-gradient(top, #9d261d, #750000);
    background-image: -ms-linear-gradient(top, #9d261d, #750000);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9d261d), color-stop(100%, #750000));
    background-image: -webkit-linear-gradient(top, #9d261d, #750000);
    background-image: -o-linear-gradient(top, #9d261d, #750000);
    background-image: linear-gradient(top, #9d261d, #750000);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9d261d', endColorstr='#750000', GradientType=0);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);border-color:#750000 #750000 #290000;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn.primary.large {
    padding: 9px 12px 9px;
    font-size: 24px;
}

.step {
    position: absolute;

    float:left;
    overflow: hidden;

    left: -2px;
    width: 1px;

    opacity: 0.01;
    filter: alpha(opacity=1);
}

.step.active {
    position: relative;

    width: 100%;
    left: 0;

    opacity: 1;
    filter: alpha(opacity=100);
}

.modal {
    overflow: hidden;
}

.modal-body {
    width: 530px;
}

.pager a:hover {
    background-color: #750000;
}



/* Title */

.cake-image-box {
    height: 110px;
    width: 110px;
}

.cake-image-box img {
    position: absolute;
}

.cake-info {
    vertical-align: middle;
    line-height: 30px;
    display: block;
}

.cake-info h3 {
    margin-left: 0;
}

.cake-image-box .cake-price {
    padding: 0;

    display: none;
    position: absolute;

    width : 110px;
    height: 110px;

    background-color: #000;
    opacity: 0.8;
    filter: alpha(opacity=80);

    color: #FFF;
    font-size: large;
    text-align: center;
    vertical-align: middle;
}

.cake-image-box .cake-price span {
    display: block;
    margin-top: 30px;
}

li:hover .cake-price {
    display: block;
}


.detailed-comment {
    color: #750000;
    font-style: italic;
}


.cake-gallery {
    overflow: hidden;
}

.cake-gallery h3 {
    display: inline;
    margin-left: 40px;
}

.cake-gallery h4 {
    font-size: x-large;
    display: inline;
    margin-left: 150px;
}

.cake-gallery-body {
    padding-top: 20px;
    margin: auto;
    width: 575px;
}

.cake-gallery-body .image-box {
    display: block;
    line-height: 90px;

    width: 90px;
    height: 90px;

    cursor: pointer;
}

.cake-gallery-body .thumbnail {
    height: 90px;
    width: 110px;
}
.cake-gallery-body .expand-item {
    display: block;
    float: left;

    position: absolute;
}

.cake-gallery-body .expand-item.second {
    margin-left: 10px;
}

.cake-gallery-body .expand-item.third {
    margin-left: 20px;
}

.cake-gallery-body  li.active .expand-item {
    position: inherit;
}

.cake-gallery-body  li.active .expand-item.second,
.cake-gallery-body  li.active .expand-item.third {
    margin-left: 0;
}

.cake-gallery-body  li.active .thumbnail {
    width: auto;
}

.cake-gallery-controls {
    padding-left: 20px;
    padding-right: 20px;
}

.cake-gallery-title {
    padding-left: 20px;
    padding-right: 20px;
}

/**
 * Designer
 */

#designer_step {
    text-align: center;
}

#designer_step object {
    display: inline;
}


/**
 * Share
 */

.share-menu li {
    text-align: center;
    padding: 5px;
}

.friend-list-overlay {
    height: 205px;
    overflow: auto;
}

.friend-list li {
    color: #000000;
    height: 60px;
}

.friend-list img {
    padding: 5px;
}

.friend-list li.active {
    background: #750000;
}

.friends-popup-title {
    padding-top: 6px;
    float: left;
}

.friends-search {
    padding-left: 85px;
}

.userpic {
    vertical-align: middle;
}

input.btn {
    font-family: "Times New Roman", Times, serif;
}

#cake_image_popup .modal-body {
    height: 350px;
    overflow: hidden;
}

#cake_image_popup .modal-body .image-container {
    width: 10000px;
    overflow: hidden;
    height: 350px;
}

#cake_image_popup .modal-body img {
    height: 100%;
    display: block;
    float: left;
}

/**
 * Recipes
 */

.recipe-tile {
    width: 100px;
    height: 130px;
    overflow: hidden;
}

.recipe-tile img {
    margin-top: 5px;
    width: 90px;
    height: 90px;
}

.recipe-label {
    margin-top: 10px;
    margin-bottom: 10px;

    width: 90px;
    height: 20px;
    overflow: hidden;
}

.recipe-label span {
    line-height: 19px;
    vertical-align: middle;
}

.recipe-label input {
    float: left;
}

/**
 * Recipes
 */

.cake-info {
    margin-left: 10px;
}

.cake-image {
    padding-top: 20px;
    width: 190px;
    margin: auto;
}

.cake-image img {
    width: 190px;
    height: 190px;
}

.cake-weight {
    width: 280px;
    margin: auto;
    line-height: 32px;
}

.cake-weight h3 {
    display: inline;
}

.cake-info .cake-price {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    width: 200px;
}

/**
 * Icons
 */

i {
    display: inline-block;
    *zoom: 1;
    *display: inline;
    font-size: 0;
}

.ico {
    position: relative;
    vertical-align: text-bottom;
    background-repeat: no-repeat;
}

.ico-persons {
    width: 15px;
    height: 15px;
    background: no-repeat url(/public/img/persons.png);
}

.ico-super {
    color: #750000;
    font-style: italic;
    vertical-align: super;
}

.input-small-rest,
input.small-rest,
textarea.small-rest,
select.small-rest {
  width: 103px;
}

.thumbnails li {
    margin-left: 17px;
}

.order-navigation {
    width: 240px;
    margin: auto;
}

.recipe-navigation {
    width: 91%;
}