* {
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

h2 {
    color: #750000;
    font-style: italic;
    font-size: 170%;
    margin-left: 15px;
    font-weight: normal;
}

a {
    border: none;
}

img {
    border: none;
}

.hidden {
    display: none;
}

p {
    font-size: small;
    margin-left: 15px;
    padding-top: 10px;
    font-family: Arial;
}

.layout {
    width: 1000px;
    margin: auto;
}

.header {
    padding: 30px 0 10px 20px;
}

.body {
    height: 600px;
}

.left-column {
    width: 340px;
    float: left;
}

.center-column {
    width: 660px;
    float: right;
}

.footer {
    clear: both;
}

.logo {
    margin-right: 90px;
    height: 120px;
}

.logo-subtitle {
    color: #750000;
    font-style: italic;
    font-size: 115%;
    margin-left: 10px;
}

.share-block {
    float: right;
}

#share .b-share-icon {
    width: 32px;
    height: 32px;
    background: url(/img/social-ico.png);
}

#share .b-share-icon_facebook {
    background-position: 0 0;
}

#share .b-share-icon_yaru {
    background-position: 32px 0;
}

#share .b-share-icon_vkontakte {
    background-position: 71px 0;
}

#share .b-share-icon_odnoklassniki {
    background-position: 110px 0;
}

#share .b-share-icon_lj {
    background-position: 149px 0;
}

.share-title {
    font-size: large;
    margin-left: 5px;
}

.submit-email {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;

    background-color: #750000;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#980000), to(#750000) );
    background-image: -moz-linear-gradient(top, #980000, #750000);

    width: 120px;
    height: 35px;

    border: none;

    color: white;
    font-size: 180%;
    font-family: "Times New Roman"
}

.email-text {
    height: 25px;
    width: 250px;

    border: 1px solid #aaaaaa ;
}

.popup-overlay {
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: #000000;
    
    opacity: 0.75;
    filter: alpha(opacity=75);
}

.popup {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    text-align: center;
}

.popup-content {
    display:-moz-inline-box;
    display:inline-block;
    vertical-align:middle;
    zoom:1;
    //display:inline

    text-align: left;
}


.align-helper {
    display:-moz-inline-box;
    display:inline-block;
    height:100%;
    width:0px;
    vertical-align:middle;
    zoom:1;
    //display:inline
}


.login-dialog {
    background: white;

    width: 300px;
    height: 150px;

    text-align: center;
}

.login-dialog a {
    text-decoration: none;
}

.login-dialog div {
    padding-top: 10px;
}

.cake-dialog {
    background: white;

    width: 350px;
    height: 400px;

    text-align: center;
}

.cake-dialog h2 {
    color: #750000;
    font-style: italic;
    font-size: 24px;
    font-family: Georgia;
    font-weight: bold;
}