

/**
 * Misc
 */

img {
    &.horizontal {
        width: 100%;
    }

    &.vertical {
        height: 100%;
    }
}

.image-center img {
    display: block;

    margin:auto;

    vertical-align:middle;
}







.modal-body .clearfix {
    .clearfix();
}

#city_selection_popup ul {
    width: 245px;
    border: 1px solid #ccc;

    .active {
        background-color: #750000;
        
        a { color: @white; }
    }

    a {
        display: block;
        width: 100%;
        color: @black;

        &:hover {
            background-color: @linkColor;
            color: @white;
            text-decoration: none;
        }
    }
}



.send-cake-button {
    padding-top: 16px;
    cursor: pointer;
}


#alert_popup .modal-body {
    text-align: center;
}
