.share-block {
    width: 195px;
    float: right;
    margin: 25px;
}

.share-block .yashare-auto-init {
    height: 40px;
}

.share-block .b-share-icon {
    width: 32px;
    height: 32px;
    background: url(/img/social-ico.png);
}

.share-block .b-share-icon_facebook {
    background-position: 0 0;
}

.share-block .b-share-icon_yaru {
    background-position: 32px 0;
}

.share-block .b-share-icon_vkontakte {
    background-position: 71px 0;
}

.share-block .b-share-icon_odnoklassniki {
    background-position: 110px 0;
}

.share-block .b-share-icon_lj {
    background-position: 149px 0;
}

.share-block-text {
    margin-left: 20px;
    width: 210px;

    color: #000;

    font-size: large;
    font-weight: normal;

    line-height: 27px;
}

#vk_groups {
    margin: auto;
}