/* Global */

body {
    font-family: "Times New Roman", Times, serif;
}

.container-fluid {
    padding: 0;
    max-width: 940px;
    margin: auto;
}

.alert {
    padding-right: 14px;
}

.alert img {
    float: left;
    margin-right: 7px;
}

.alert h3 {
    margin-bottom: 2px;
    padding-bottom: 0;
}

.btn.primary{
    color: #FFF;
    background-color: #750000;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#9d261d), to(#750000));
    background-image: -moz-linear-gradient(top, #9d261d, #750000);
    background-image: -ms-linear-gradient(top, #9d261d, #750000);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9d261d), color-stop(100%, #750000));
    background-image: -webkit-linear-gradient(top, #9d261d, #750000);
    background-image: -o-linear-gradient(top, #9d261d, #750000);
    background-image: linear-gradient(top, #9d261d, #750000);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9d261d', endColorstr='#750000', GradientType=0);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);border-color:#750000 #750000 #290000;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn.primary.large{
    padding: 9px 12px 9px;
    font-size: 24px;
}

.step {
    position: relative;

    float:left;
    overflow: hidden;

    left: -2px;
    width: 1px;

    opacity: 0.01;
    filter: alpha(opacity=1);
}

.step.active {
    width: 99.7%;
    left: 0;

    opacity: 1;
    filter: alpha(opacity=100);
}

.modal {
    overflow: hidden;
}

.modal-body {
    width: 530px;
}

/* Typo */

h1,
h2,
h3,
p {
    font-family:"Times New Roman", Times, serif;
    margin-left: 5%;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

h1 {
    color: #750000;
    font-style: italic;
    font-weight: normal;
}

h1 small {
    color: #750000;;
    font-weight: normal;
    font-style: italic;
    font-size: 16px;
}

p {
    font-size: 14px;
}


h2 {
    color: #750000;
    font-style: italic;
    font-weight: normal;
    margin: 20px;
}

h3 {
    font-size: 20px;
    line-height: normal;
}

h3 small {
    color: #06C;
}

h4 {
    line-height: normal;
}

h4 small {
    color: #06C;
}


/* Header */

.page-header {
    margin-bottom: 20px;
    margin-top: 0px;

    height: 100px;

    background: #EEE;
}

.main-title {
    padding: 20px 0 0 30px;
}

.main-logo {
    display: block;
}

.main-subtitle {
    display: block;
    margin: 0 0 0 20px;

    font: inherit;
}

/* Title */

.site-core {
    min-width: 940px;
}


.cake-image-box {
    height: 110px;
    width: 110px;
}

.cake-image-box img {
    position: absolute;
}

.cake-info {
    vertical-align: middle;
    line-height: 30px;
    margin-top: 5px;
    display: block;
}

.cake-price {
    padding: 0;

    display: none;
    position: absolute;

    width : 110px;
    height: 110px;

    background-color: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);

    color: #FFF;
    font-size: large;
    text-align: center;
    vertical-align: middle;
    line-height: 110px;
}

li:hover .cake-price {
    display: block;
}

.info-comment {
    color: #750000;
    font-style: italic;
}

.detailed-comment {
    color: #750000;
    font-style: italic;
}


.cake-gallery {
    overflow: hidden;
}

.cake-gallery h3 {
    display: inline;
    margin-left: 40px;
}

.cake-gallery h4 {
    font-size: x-large;
    display: inline;
    margin-left: 150px;
}

.cake-gallery-body {
    padding: 10px 40px 40px 40px;

    margin-bottom: -10px;
    margin-top: 10px;
}

.cake-gallery-body .image-box {
    display: block;
    line-height: 90px;

    width: 90px;
    height: 90px;

    cursor: pointer;
}

.cake-gallery-body .thumbnail {
    height: 90px;
    width: 110px;
}
.cake-gallery-body .expand-item {
    display: block;
    float: left;

    position: absolute;
}

.cake-gallery-body .expand-item.second {
    margin-left: 10px;
}

.cake-gallery-body .expand-item.third {
    margin-left: 20px;
}

.cake-gallery-body  li.active .expand-item {
    position: inherit;
}

.cake-gallery-body  li.active .expand-item.second,
.cake-gallery-body  li.active .expand-item.third {
    margin-left: 0;
}

.cake-gallery-body  li.active .thumbnail {
    width: auto;
}

/**
 * Designer
 */

#designer_step {
    text-align: center;
}

#designer_step object {
    display: inline;
}


/**
 * Share
 */

.share-menu li {
    text-align: center;
    padding: 5px;
}

.friend-list-overlay {
    height: 205px;
    overflow: auto;
}

.friend-list li {
    color: #000000;
    height: 60px;

    img {
        padding: 5px;
    }
}

.friend-list li.active {
    background: #750000;
}

.friends-popup-title {
    padding-top: 6px;
    float: left;
}

.friends-search {
    padding-left: 85px;
}

.userpic {
    vertical-align: middle;
}

input.btn {
    font-family: "Times New Roman", Times, serif;
}

#cake_image_popup .modal-body {
    height: 350px;
    overflow: hidden;
}

#cake_image_popup .modal-body .image-container {
    width: 10000px;
    overflow: hidden;
    height: 350px;
}

#cake_image_popup .modal-body img {
    height: 100%;
    display: block;
    float: left;
}
