/*h1 small {

}

/*h2 {
    color: #750000;
    font-style: italic;
    font-weight: normal;
}

h3 {
    font-size: 20px;
    line-height: normal;
}

h3 small {
    color: #06C;
}

h4 {
    line-height: normal;
}

h4 small {
    color: #06C;
}
*/