<iframe id="support_frame" name="support_frame" class="hide"
                width="0" height="0"></iframe>

<div id="alert_popup" class="hide">
     <div class="modal-backdrop"></div>
     <div class="modal">
         <div class="modal-header"><h3>Внимание!<span class="j-popup-close close">&times;</span></h3></div>
         <div class="modal-body j-message"></div>
         <div class="modal-footer">
             <a class="j-popup-close btn primary">OK</a>
         </div>
     </div>
</div>

<div id="confirm_popup" class="hide">
    <div class="modal-backdrop"></div>
    <div class="modal">
        <div class="modal-header"><h3>Внимание!<span class="j-popup-close close">&times;</span></h3></div>
        <div class="modal-body j-message"></div>
        <div class="modal-footer">
            <a class="j-popup-apply btn primary">OK</a>
            <a class="j-popup-close btn">Отмена</a>
        </div>
    </div>
</div>