<div class="page-header">
    <h1>Шаг 1. Определяем вес торта</h1>
</div>

<div class="row">
    <div class="span8">
        <div class="row cake-info-row">
            <div class="span6">
                <h2>Вес торта: <small class="t-cake-mass"></small></h2>
            </div>
            <div class="span2 persons-count">
                <i class="ico ico-persons"></i>
                <span class="t-cake-persons ico-super"></span>
            </div>
        </div>
        <div class="row">
            <div class="span6">
                <img class="cake-image" src="/img/cake.png" alt="Тортик" />
            </div>
            <div class="span1 cake-height">
                <span class="t-cake-height"></span>.
            </div>
            <div class="span1 cake-height">
                <div class="j-vertical-slider t-cake-height-slider height-slider"></div>
            </div>
        </div>
        <div class="row">
            <div class="span6 align-center">
                <span class="t-cake-width"></span>
                <div class="j-horizontal-slider t-cake-width-slider width-slider"></div>
            </div>
        </div>
        <hr />
    </div>

    <div class="span6">
        <p>Сначала выбираем вес нашего торта.</p>
        <p>Обратите внимание, что потом, когда торт уже будет украшен, Вы не
           сможетепоменять его размеры, не потеряв декор.</p>
        <p>Запутались с размерами торта?<br />
           <a href="#">Почитайте наши советы.</a></p>
        <p>
            <a class="j-selection-next btn primary large">Дальше &raquo;</a>
        </p>
        <p>На следующем шаге можно выбрать рецепт тортика (или его начинку -
           что внутри).Выбирайте и пробуйте!</p>
    </div>
</div>

<div class="row">
    <div class="span8">

        <h2>Выбираем вес торта</h2>
        <p>
            <a href="#">
                Двигайте горизонтальный или вертикальный бегунки для изменения веса и размера торта
            </a>
        </p>
        <p>Если Вы не очень хорошо представляете себе, какого именно размера нужен торт,
           пожалуйста, ориентируйтесь на число гостей – из расчета 200 гр. десерта на человека.
           Обратите внимание, что рецепт торта мы будет выбирать на следующем шаге, линейный
           размер может несколько меняться в зависимости от выбранного Вами рецепта – есть более
           плотные  торты, или, напротив, более воздушные, занимающие больше места в пространстве.
           Пока мы не делаем прямоугольных, многоэтажных или тортов сложных форм. Минимальный
           торт – 800 граммов, или 0,8 кг. Если тортик круглой формы, то это примерно 21 см в
           диаметре при высоте 5 см. Этого тортика хватит, чтобы угостить 5-6 человек, при том,
           что они съедят его без остатка за один раз.
           Мы не ограничиваем максимальный размер торта, но нам редко приходится выпекать торты
           более полуметра в диаметре. Если Вам нужен Очень большой торт, пишите нам. Тортики
           меньше 800 граммов мы не делаем, да и Вам будет недостаточно места, чтобы творчески
           украсить его на следующем шаге.
           Определились с размером торта? Переходим к выбору рецепта.</p>
    </div>
</div>

<div class="hidden" xmlns:tuna="http://localhost/tuna">
    <tuna:template id="first_step_template">
        <tuna:spot tuna:class="t-cake-mass"    tuna:path="cake/dimensions/mass" />
        <tuna:spot tuna:class="t-cake-persons" tuna:path="cake/dimensions/persons_count" />
        <tuna:spot tuna:class="t-cake-width"   tuna:path="cake/dimensions/width" />
        <tuna:spot tuna:class="t-cake-height"  tuna:path="cake/dimensions/height" />

        <tuna:attr tuna:class="t-cake-width-slider" tuna:path="cake/current_mass"
                   tuna:name="data-value" tuna:event />

        <tuna:attr tuna:class="t-cake-width-slider" tuna:path="cake/masses_count"
                   tuna:name="data-count" tuna:event />

        <tuna:attr tuna:class="t-cake-height-slider" tuna:path="cake/current_mass"
                   tuna:name="data-value" tuna:event />

        <tuna:attr tuna:class="t-cake-height-slider" tuna:path="cake/masses_count"
                   tuna:name="data-count" tuna:event />

    </tuna:template>
</div>