<div class="page-header">
    <h1>Шаг 3. Конструируем торт</h1>
</div>

<div class="row">
    <div class="span14">
        <div class="cake-designer">
            <div id="cake_designer" class="j-swf"
                 data-movie-url="/swf/cake-designer.swf">
                Для работы приложения вам необходим Flash Player!
            </div>
        </div>
    </div>
</div>


<div id="item_selection_popup" class="j-template-container popup"
     data-template-id="item_selection_template"
     data-db-path="view.selection_popup"
     data-init-on="ui-popup-open">

    <div class="overlay"></div>
    
    <div class="modal">
        <div class="modal-header">
            <a href="#" class="j-popup-close close">×</a>
            <h3>Готовые шаблоны</h3>
        </div>
        <div class="modal-body">
            <ul class="t-item-list j-item-selector media-grid"></ul>

            <form class="j-current-item j-popup-form hidden" action="about: blank">
                <img class="t-selected-image" src="" alt="" width="100" height="100"/>

                <input class="t-selected-id" type="hidden" name="selection_id" />
                <input class="t-popup-type" type="hidden" name="popup_type" />
            </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="j-popup-close btn">Закрыть</a>
            <a href="#" class="j-popup-apply btn primary">Выбрать</a>
        </div>
    </div>
</div>


<div class="hidden" xmlns:tuna="http://localhost/tuna">
    <ul>
        <li id="selection_item_renderer" class="j-selection-item list-item">
            <a><img class="t-item-image" src="" alt="Изображение" width="61" height="61"/></a>
        </li>
    </ul>


    <tuna:template id="third_step_template"></tuna:template>

    <tuna:template id="item_selection_template">
        <tuna:attr tuna:class="t-selected-image" tuna:path="current/image_url" tuna:name="src"/>
        <tuna:attr tuna:class="t-selected-id" tuna:path="current/_id/$id" tuna:name="value"/>
        <tuna:attr tuna:class="t-popup-type" tuna:path="type" tuna:name="value"/>

        <tuna:list tuna:class="t-item-list" tuna:path="items"
                   tuna:item-renderer-id="selection_item_renderer"
                   tuna:item-template-id="selection_item_template"
                   tuna:key-path="_id/$id" />

    </tuna:template>

    <tuna:template id="selection_item_template">
        <tuna:attr tuna:class="t-item-image" tuna:path="image_url" tuna:name="src" />
    </tuna:template>
</div>