<script type="text/javascript" src="/js/vk.js"></script>

<script src="http://vkontakte.ru/js/api/xd_connection.js"
        type="text/javascript"></script>

<script type="text/javascript">
    main(document.body);
    VK.init();
</script>
