<div class="cake-gallery-title">
    <h3 class="pull-left">Галерея тортиков <small>(наведите мышку)</small></h3>
    <h3 class="pull-right">
        <a class="j-popup-button"
           data-popup-id="how_to_popup">
            Как мы это делаем?
        </a>
    </h3>
</div>

<div class="j-carousel j-cake-before-after row-fluid">
    <div class="span12 carousel cake-gallery">

        {{#slides}}

            <ul class="j-carousel-item carousel-item {{#active}}active{{/active}}
                       j-selection-group thumbnails cake-gallery-body"
                data-selection-event="mouseover">

                {{#block}}

                    <li class="j-selection-item {{#block_active}}active{{/block_active}}">
                        <div class="j-button thumbnail"
                             data-before="{{before}}"
                             data-after="{{after}}">
                            <span class="expand-item second">
                                <span class="image-box image-center">
                                    <img class="expanded-image vertical" alt="До"
                                         src="{{before_small}}" width="90" height="90" />
                                </span>
                            </span>
                            <span class="expand-item third">
                                <span class="image-box image-center">
                                    <img class="expanded-image horizontal" alt="После"
                                         src="{{after_small}}" width="90" height="90" />
                                </span>
                            </span>
                        </div>
                    </li>

                {{/block}}
            </ul>

        {{/slides}}


        <div class="cake-gallery-controls">
            <a class="j-carousel-next pull-left">&laquo; Назад</a>
            <a class="j-carousel-next pull-right">Вперед &raquo;</a>
        </div>

    </div>

</div>

<div id="how_to_popup" class="hide">
    <div class="modal-backdrop"></div>
    <div class="how-to-popup modal">
        <div class="modal-header">
            <h3>Как мы это делаем?</h3>
        </div>
        <div class="modal-body">
            <img src="img/info.jpg" alt="Как мы это делаем?"
                 width="1200" height="1000" />
        </div>
        <div class="modal-footer">
            <a class="j-popup-close btn">Закрыть</a>
        </div>
    </div>
</div>


<div id="before_after_popup" class="hide">
    <div class="modal-backdrop"></div>
    <div class="before-after-popup modal">
        <div class="modal-header">
            <h3>До и после</h3>
        </div>
        <div class="modal-body">
            <table>
                <tr>
                    <td>
                        <img class="j-before" />
                    </td>
                    <td>
                        <img class="j-after" />
                    </td>
                </tr>
            </table>
        </div>
        <div class="modal-footer">
            <a class="j-popup-close btn">Закрыть</a>
        </div>
    </div>
</div>