<div class="intro">
    <h2 class="intro-title">Поздравьте любимых оригинально!</h2>

    <p>Фантазируйте и создавайте дизайн Вашего тортика сами с помощью конструктора:
    выбирайте форму, размеры, добавляйте картинки и надписи, украшайте по своему вкусу.
    Будьте лучшим кондитером в истории, хвастайтесь своим произведением!</p>

    <p>У вас получился шедевр? Попробуйте заказать его в нашей кондитерской,
    Ваш дизайн – наше исполнение! Внимание: изображение на торте тоже съедобное!</p>

    <p>
        <a class="j-navigation-link btn primary large"
           data-href="designer">
            Начнём &raquo;
        </a>
    </p>

    <p>
        <a class="j-popup-button"
           data-popup-id="delivery_info_popup">
            Доставка и оплата
        </a>
    </p>

    {{^network}}
    <p>
        Заказы так же принимаем по телефону <b>8 (812) 323-52-18</b> и
        по почте <b>fotonatorte@gmail.com</b>!
    </p>
    {{/network}}

</div>

<div id="delivery_info_popup" class="hide">
    <div class="modal-backdrop"></div>
    <div class="modal">
        <div class="modal-header">
            <h3>Условия оплаты и доставки.</h3>
        </div>
        <div class="modal-body modal-content">

            <p>Торт, который Вы заказываете, исполняется по индивидуальному дизайну, и предназначен
            только Вам. Мы сделаем все возможное, чтобы выполнить Ваши пожелания по его внешнему
            оформлению. Именно поэтому мы должны быть уверены, что заказ будет оплачен.</p>

            <p>Сейчас мы используем два варианта оплаты: безналичный платеж через Деньги@mail.ru (платеж
            без комиссии для всех основных способов интернет-платежей – с помощью банковской карты,
            терминалов QIWI и пр.)</p>

            <p>И наличный платеж при получении Тортика (будьте готовы, что если Вы сконструировали торт
            стоимостью больше 2 000 рублей, мы попросим внести предоплату, или прогарантировать оплату
            другими способами, когда наш менеджер будет звонить Вам, чтобы уточнить детали Вашего
            Заказа).

            <p>Доставка. Вы всегда сможете выбрать: доставка или самовывоз. Стоимость доставки варьирует
            в зависимости от города. Например, в Москве доставка стоит 500 рублей, в Санкт-Петербурге
            – 450. Стоимость доставки Вы сможете увидеть при оформлении Заказа. Иногда стоимость
            доставки может быть выше, если место доставки находится на значительном удалении от места
            производства, например, за городом; доставка осуществляется в необычное время – например,
            ночное, или в сезон крайне высокой загруженности транспортных магистралей, например, в
            предновогодние дни. В любом случае, Вы всегда будете знать, если повышение цены за доставку
            может иметь место.

            <p>Доставку можно оплатить отдельно (тогда в комментариях следует указать: « Доставка по такому-
            то адресу, доставку оплатим на месте» или в общем счете.</p>

        </div>
        <div class="modal-footer">
            <a class="j-popup-close btn">Закрыть</a>
        </div>
    </div>
</div>