<form id="recipe_popup" class="j-template-transformer j-form hide"
      data-name="recipes-list"
      data-template-id="recipe_list_template">

    <div class="modal-backdrop"></div>
    <div class="modal">
        <div class="modal-header">
            <h3>Выбор рецепта торта</h3>
        </div>
        <div class="modal-body">
            <ul class="t-recipes-list recipes-list thumbnails"></ul>
        </div>
        <div class="modal-footer">
            <a class="j-popup-apply btn primary">Выбрать</a>
            <a class="j-popup-close btn">Отмена</a>
        </div>
    </div>
</form>

<div class="j-template-transformer j-popup hide"
     data-name="recipe-popup"
     data-template-id="recipe_template">

    <div class="modal-backdrop"></div>
    <div class="modal">
        <div class="modal-header">
            <a  class="j-popup-close close">×</a>
            <h3 class="t-recipe-name"></h3>
        </div>
        <div class="modal-body">
            <p class="t-recipe-desc"></p>
        </div>
        <div class="modal-footer">
            <a  class="j-popup-apply btn primary">Выбрать</a>
            <a  class="j-popup-close btn">Закрыть</a>
        </div>
    </div>
</div>

<div class="j-control-container hide">
    <tuna:template id="recipe_list_template">
        <tuna:list tuna:target="t-recipes-list" tuna:path=""
                   tuna:item-renderer-id="recipe_list_item_renderer"
                   tuna:item-template-id="recipe_template"
                   tuna:key-path="$key" />
    </tuna:template>

    <tuna:template id="recipe_template">
        <tuna:attr tuna:target="t-recipe-img" tuna:path="imageUrl" tuna:name="src"/>
        <tuna:attr tuna:target="t-recipe-img" tuna:path="name" tuna:name="alt"/>

        <tuna:attr tuna:target="t-recipe-id" tuna:path="id" tuna:name="data-recipe-id" />
        <tuna:attr tuna:target="t-recipe-input" tuna:path="id" tuna:name="value" />

        <tuna:spot tuna:target="t-recipe-name" tuna:path="name" />
        <tuna:spot tuna:target="t-recipe-desc" tuna:path="desc" />
        <tuna:spot tuna:target="t-recipe-price" tuna:path="price" />
    </tuna:template>

    <ul>
        <li id="recipe_list_item_renderer">
            <div class="recipe-tile thumbnail">
                <img alt="Рецепт" width="90" height="90"
                     class="j-button j-recipe-image
                        t-recipe-img t-recipe-id"
                     data-action="show-recipe" />

                <label class="recipe-label">
                    <input type="radio" name="recipe_id"
                           class="t-recipe-input" />

                    <span class="t-recipe-name"></span>
                </label>
            </div>
        </li>
    </ul>
</div>