<div class="span12 row-fluid">
    <div class="span12">
        <div class="j-swf"
             data-name="cake-designer" data-not-init
             data-width="650" data-height="630"
             data-src="/swf/cake-designer.swf">

            <p>Загрузка...</p>
        </div>

        <div>
            <a class="j-navigation-link btn primary large next-btn"
               data-href="share">
                Сохранить как картинку*
            </a>

            <a class="j-navigation-link btn primary large next-btn"
               data-href="order">
                Заказать реальный тортик*
            </a>
        </div>


    </div>
</div>

<div class="hide">
    <img id="base_cake_image" class="j-data-image" data-name="cake-image" />
</div>

<div>
    * - Нажимая на кнопку, вы принимаете условие
    <a class="j-popup-button" data-name="offer" data-popup-id="offer_popup"
       target="_blank">оферты</a>.
</div>


<div id="offer_popup" class="hide">
    <div class="modal-backdrop"></div>
    <div class="modal">
        <div class="modal-header">
            <h3>Соглашение об использовании системы «Фотонаторте»</h3>
        </div>
        <div class="j-inner-html modal-body modal-content"
             data-name="offer"
             data-html-url="/files/offer.html"
             style="text-align: justify;">

        </div>
        <div class="modal-footer">
            <a class="j-popup-close btn">Закрыть</a>
        </div>
    </div>
</div>