<div class="span12 row-fluid">
    <div class="span5 cake-info">
        <div class="j-template-transformer cake-weight"
             data-name="cake-info"
             data-template-id="cake_template">

            <h3>
                Вес торта:
                <small>
                    <span class="t-cake-weight">0</span> кг.
                </small>
            </h3>

            <span class="pull-right">
                <i class="ico ico-persons"></i>
                <span class="t-cake-persons ico-super"></span>
            </span>
        </div>

        <div class="cake-image">
            <img class="j-data-image-copy" alt="Загрузка тортика..." src
                 data-image-selector="#base_cake_image" />
        </div>

        <div class="j-template-transformer cake-price"
             data-name="price-info"
             data-template-id="price_template">

            <h3>Цена</h3>

            <table class="table table-condensed">
                <tr>
                    <th>Оформление: </th>
                    <td><span class="t-deco-price">0</span> рублей</td>
                </tr>
                <tr>
                    <th>Рецепт: </th>
                    <td><span class="t-recipe-price">0</span> рублей</td>
                </tr>
                <tr>
                    <th>Доставка: </th>
                    <td><span class="t-delivery-price">0</span> рублей</td>
                </tr>
                <tr>
                    <th>Итого: </th>
                    <td><span class="t-total-price">0</span> рублей</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="j-template-transformer j-button-group span7"
         data-name="recipes-list"
         data-template-id="recipe_list_template">

        <ul class="t-recipes-list recipes-list thumbnails"></ul>

        <div class="recipe-navigation">
          <a class="j-navigation-link btn primary large"
             data-action="back">
              &laquo; Назад
          </a>
          <a class="j-navigation-link btn primary large pull-right"
             data-href="order">
              Далее &raquo;
          </a>
        </div>
    </div>
</div>

<div class="j-template-transformer j-popup hide"
     data-name="recipe-popup"
     data-template-id="recipe_template">

    <form class="j-popup-form">
        <input name="recipe_id" type="hidden" class="t-recipe-input" />
    </form>

    <div class="modal-backdrop"></div>
    <div class="modal">
        <div class="modal-header">
            <a  class="j-popup-close close">×</a>
            <h3 class="t-recipe-name"></h3>
        </div>
        <div class="modal-body">
            <p class="t-recipe-desc"></p>
        </div>
        <div class="modal-footer">
            <a  class="j-popup-apply btn primary">Выбрать</a>
            <a  class="j-popup-close btn">Закрыть</a>
        </div>
    </div>
</div>
