{{#network}}
    <div class="span5">
        {{> template/steps/title/intro }}
    </div>

    <div class="span7">
        {{> template/steps/title/cake-list }}
    </div>

    {{> template/steps/title/gallery }}
{{/network}}

{{^network}}
    <div class="span8 row-fluid">

        <div class="span4">
            {{> template/steps/title/intro }}
        </div>

        <div class="span8">
            {{> template/steps/title/cake-list }}
        </div>

        {{> template/steps/title/gallery }}
    </div>

    <div class="span4">
        {{> template/steps/title/comments }}
    </div>
{{/network}}
